<!-- Header -->
<header class="header">
    <div class="panel-top" id="panel-fix">
        <div class="container">
            <div class="container_in">
                <button id="nav-btn" class="cmn-toggle-switch cmn-toggle-switch__htx">
                    <span>menu</span>
                </button>
                <ul class="drop-menu">
                    <li><a href="/">На главную</a></li>
                    <li><a href="/">О компании</a></li>
                    <li><a href="/">Каталог продукции</a></li>
                    <li><a href="/">Акции</a></li>
                    <li><a href="/">Гарантия</a></li>
                    <li><a href="/">Контакты</a></li>
                </ul>
                <div class="header-top_aside">
                    <a href="#"  class="mobile"><i class="fa fa-sign-in"></i>Войти</a>
                    <a href="#"  class="mobile"><i class="fa fa-user"></i></a>
                    <a href="#"  class="mobile"><i class="fa fa-shopping-cart"></i></a>
                    <a href="/"  class="mobile"><i class="fa  fa-language"></i>Ru</a>
                    <a href="#"  id="search" class="mobile"><i class="fa fa-search"></i></a>
                    <a href="#"  class="mobile"><i class="fa fa-phone"></i></a>
                    <a  href="/" class="header-top_cart">
                        <i class="icon-sm-cart  ic"></i>
                        <div class="sm-cart_text">
                            <p class="product-count">Товаров:<span> 3</span></p>
                            <p>Сумма:<span> 5.000</span><span>грн.</span></p>
                        </div>
                    </a>
                    <div class="switch-lang">
                        <div class="lang-wr">
                            <a href="/" class="lang active">ru</a>
                        </div>
                        <div class="lang-wr">
                            <a href="/" class="lang">ua</a>
                        </div>
                    </div>
                    <div class="form-wr">
                        <form action="#" class="form-search">
                            <input type="text" placeholder="Поиск" />
                            <button  type="submit" class="btn-submit"><i class="icon-search "></i></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Header content -->
    <div class="container">
        <div class="container_in">
            <aside class="siderbar user-box">
                <div class="enter_block">
                    <a href="#" class="sign-link">Войти на сайт</a>
                    <a href="#" class="log-link">Зарегистрироватся</a>
                </div>
                <ul class="socials">
                    <li><a href="/" target="_blank"><i class="icon-twiiter ic"></i></a></li>
                    <li><a href="/" target="_blank"><i class="icon-vk ic"></i></a></li>
                    <li><a href="/" target="_blank"><i class="icon-facebook ic"></i></a></li>
                    <li><a href="/" target="_blank"><i class="icon-rss ic"></i></a></li>
                    <li><a href="/" target="_blank"><i class="icon-google ic"></i></a></li>
                </ul>
                <a href="/" class="btn btn-cart">
                    <i class="icon-cart ic"></i>
                    <span class="cart-name">Корзина</span>
                    <p class="product-count">Товаров:<span> 3</span></p>
                    <p>Сумма:<span> 5.000</span><span>грн.</span></p>
                </a>
            </aside>
            <aside class="siderbar contact-box">
                <p>Телефон горячей линии</p>
                <p class="phone">+12(034) 567 89 10</p>
                <p>(пн.-пт. с 9.00 до 18.00)</p>
                <div class="call-block">
                    <a href="/" class=" btn btn-call">Вызвать <span>замерщика</span></a>
                </div>
            </aside>
            <div class="logo">
                <a href="/"><img src="images/logo.png" alt="Nakitel"></a>
            </div>
        </div>
    </div>
    <!--Products -->
    <div class="products-list">
        <div class="container">
            <ul>
                <li class="item">
                    <a href="">
                        <div class="img-box">
                            <img src="images/doors-img1.jpg" alt="">
                        </div>
                        <div class="info-box">
                            <h3>Двери</h3>
                            <p>Шпонированные</p>
                        </div>
                    </a>
                </li>
                <li class="item">
                    <a href="">
                        <div class="img-box">
                            <img src="images/doors-img2.jpg" alt="">
                        </div>
                        <div class="info-box">
                            <h3>Двери</h3>
                            <p>Экошпон</p>
                        </div>
                    </a>
                </li>
                <li class="item">
                    <a href="">
                        <div class="img-box">
                            <img src="images/doors-img3.jpg" alt="">
                        </div>
                        <div class="info-box">
                            <h3>Двери</h3>
                            <p>Из масива</p>
                        </div>
                    </a>
                </li>
                <li class="item">
                    <a href="">
                        <div class="img-box">
                            <img src="images/doors-img4.jpg" alt="">
                        </div>
                        <div class="info-box">
                            <h3>Двери</h3>
                            <p>Входные</p>
                        </div>
                    </a>
                </li>
                <li class="item">
                    <a href="">
                        <div class="img-box">
                            <img src="images/doors-img5.jpg" alt="">
                        </div>
                        <div class="info-box">
                            <h3>Двери</h3>
                            <p>Спец назначения</p>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</header>