.footer{
	padding-top: 220px;
	padding-bottom: 55px;
	background-color: #42661b;
	background: url(../images/footer_main_bg.png);
	background-position-x: center;
	@include br(mobile){
         padding-top: 120px;
         padding-bottom: 15px;
    }
	.footer-panel{
		@include box-shadow(0,1px,0, rgba(255,255,255,0.75));
		.footer-panel-in{
			background: url(../images/footer_bg.png);
			background-repeat: repeat;
			@include box-shadow(0 2px,6px,rgba(0,0,0,0.75), inset);
		}
	}
}
.footer-panel-in{
	a{
		display: inline-block;
		padding: 16px 20px;
		font-size: 18px;
		color: #fff;
		@include font(HelveticaNeueCyr-Thin,normal,normal);
		&:hover{
			color: #000;
		}
		@include br(phablet){
			padding: 16px 10px;
		}
	}
	.author{
		float: left;
		text-align: center;
		@include br(premobile){
			float: none;
		}
		a{
			color: #ff6666;
		}
	}
	.footer-menu{
		float: right;
		@include br(premobile){
			display: none;
		}
		li{
			float: left;
		}
	}
}